<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/static.css}">-->
    <link rel="stylesheet" type="text/css" href="/css/static.css">
    <!--第一次复制静态文件要重新build之后才会生效-->
    <script type="text/javascript" src="/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="/js/aa.js"></script>
    <!--<script type="text/javascript" th:src="@{/js/jquery.js}"></script>-->
   <!-- <style type="text/css">
        .xx{color: red}
    </style>-->

    <script type="text/javascript">
        /*function clickEvent() {
            alert("cc")
        }*/
       /* $(function(){
            $("#cc").click(function () {
                alert("cc")
            });
        });*/
    </script>
</head>
<body>
    <div class="xx" id="cc"> hahh</div>
</body>
</html>